* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
}

/* CONTAINERS */

.calculator-container {
  width: 500px;
  padding: 16px;
  background: #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
  height: 100px;
}

/* DISPLAY */

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 4rem;
  height: 100px;
  padding-right: 8px;
  color: #fff;
}

/* BUTTONS */

.button {
  flex: 1;
  border: 0;
}

.digit,
.operator,
.equals {
  border-radius: 50%;
}

.clear,
.zero {
  border-radius: 100px;
  flex: 3.25 1 0;
}

.digit,
.zero {
  background: #333333;
  color: white;
}

.operator {
  background: #ff9f0a;
  color: white;
}

.equals {
  background: #ff9f0a;
  color: white;
}

.clear {
  background: #a5a5a5;
  color: black;
}
