* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DISPLAY */

/* CONTAINERS */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
  height: 100px;
}

/* BUTTONS */

.button {
  flex: 1;
  border: 0;
}

.digit,
.operator,
.equals {
  border-radius: 50%;
}

.clear,
.zero {
  flex: 3.25 1 0;
}
